body {
    height: 500px;
    width: 300px;
    color: #929290;
    font-family: 'inter';
}
body::-webkit-scrollbar {
    display: none;
}


img {
    float: left;
    padding: 5px;
    height: 35px;
    width: 35px;
}

h1,
h2 {
    color: #030303;
    font-size: 10px;
}

h2 {
    margin: 0 5px;
}

p {
    margin: 5px;
}

header {
    display: flex;
}
.nav{
    overflow: hidden;
    position: relative;
}
.nav-open {
    transform: translateX(-1%);
}
.nav #menu{
    display: none;
}

.top {
    background-color: #F0F0F0;
    height: 600px;
    width: 300px;
    margin-left: 500px;
    position: relative;
}

.title {
    background-color: #ffffff;
    padding-bottom: 20px;
}

.top-text {
    font-weight: 600;
    margin: 0px;
    padding: 0, 5px;
}

.top-p-text {
    font-size: 10px;
    margin: 0px;
    padding: 0, 5px;
}

.top-title {
    padding-top: 10px;
}

.icon {
    display: block;
    position: relative;
    color: #E5E5E5;
}

.hamburger {
    position: relative;
}

.nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.chat {
    background-color: #fefff7;
    position: relative;
    width: 200px;
    margin: 20px 70px;
    border-radius: 0 5px 5px 5px;
    font-size: 10px;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.chat3 {
    text-align: right;
    width: 90px;
    margin-left: 180px;
    background: linear-gradient(270deg, #DE924B 0%, #D94646 100%);
    color: #ccc;
    box-shadow: 0px 6px 8px rgba(194, 205, 221, 0.25);
    border-radius: 0px 10px 10px 10px;
}

.chat5 {
    position: absolute;
    padding: 0;
}

.img-chat {
    margin-left: 20px;
}

.img-chatin {
    margin: auto;
    height: 30px;
    width: 30px;
    padding: 1px 2px;
    border-radius: 0;

}

.lasp {
    margin-left: 50px;
}

#chat-text {
    margin-top: 170px;
    height: 30px;
    width: 296px;
    border: 2px none #ccc;
    padding: 23px 2px;
    outline: 0;
}

.menu {
    margin: 60px 20px;
}

.row {
    content: "";
    display: table;
    clear: both;

}

.column {
    padding: 33px 15px;
    margin: 5px;
    height: 50px;
    width: 90px;
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1) opacity 250ms linear;
    transition: transform 750ms;
    float: left;
    box-shadow: 0px 6px 8px rgba(194, 205, 221, 0.25);
    border-radius: 10px;
}

.menu1 {
    background: linear-gradient(270deg, #4BDEC4 0%, #46A4D9 100%);
}

.menu2 {
    background: linear-gradient(270deg, #D94646 0%, #DEA34B 100%);
}

.menu3 {
    background: linear-gradient(270deg, #EA4B41 0%, #BD00FF 100%);
}

.menu4 {
    background: radial-gradient(50% 100% at 50% 100%, #4BA9DE 0%, #6C46D9 100%);
}

.menu5 {
    background: #ffffff;
}

.menu-text {
    margin: 30px 25px;
}

.column-text {
    margin-top: 30px;
    color: #ffffff;
    font-weight: 100;
}